@import 'bootstrap/scss/bootstrap';

$gray-light:                #8e8ea0;
$gray:                      darken($gray-light, 10%);
$gray-dark:                 darken($gray-light, 20%);
$gray-lighter:              lighten($gray-light, 10%);
$gray-lightest:             lighten($gray-light, 30%);

$brand-primary:             #AE8884;
$brand-success:             #1A3100;
$brand-info:                #65D6D3;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

.pull-request {
  border-radius: 5px;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }

  .main-info {
    flex: 0 1 50%;
  }
  .comments {
    flex: 0 1 20%;
    color: $gray;
  }
  .updated {
    flex: 1 0 20%;
    color: $gray;
  }
  .traffic-light {
  }

  .repo-name {
    color: $brand-primary;
    font-weight: bold;
  }
  .pr-title {
    margin-right: 5px;
    a {
      color: $gray-dark;
    }
  }
}
